<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Entrar</h5>
        <form class="form-signin" [formGroup]="form">
          <div class="form-label-group">
            <label for="inputEmail">CNPJ</label>
            <input type="text" id="inputEmail" class="form-control" formControlName="username"
              placeholder="Insira o cnpj" required autofocus>
          </div>

          <div class="form-label-group">
            <label for="inputPassword">Senha</label>
            <input type="password" id="inputPassword" class="form-control" formControlName="password"
              placeholder="Insira sua senha" required>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
            (click)="login()">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>