<table class="table table-striped">

    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Aumentar</th>
            <th scope="col">Diminuir</th>
            <th scope="col">Remover</th>
        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let alimento of alimentos">

            <th scope="row">{{alimento.codigo}}</th>

            <td>{{alimento.nome}}</td>

            <td>{{alimento.quantidade}}</td>

            <td> <button type="button" class="btn btn-outline-primary rounded-bottom"
                    (click)="adicionarUnidade(alimento)">
                    <i class="fas fa-plus"></i>
                </button></td>

            <td> <button type="button" class="btn btn-outline-primary rounded-bottom"
                    (click)="diminuirUnidade(alimento)">
                    <i class="fas fa-minus"></i>
                </button></td>

            <td><button type="button" class="btn btn-outline-primary rounded-bottom"
                    (click)="removerAlimento(alimento)">
                    <i class="far fa-trash-alt"></i>
                </button></td>

        </tr>

    </tbody>

</table>


<button type="button" class="btn btn-primary btn-lg btn-block" [hidden]="lanceVazio" (click)="publicarLance()">Finalizar</button>