<form [formGroup]="form">

        <div class="form-row">
      
          <div class="form-group col-md-6">
            <label for="instituicao">Nome Instituição</label>
            <input type="email" class="form-control" id="instituicao" formControlName="nomeInstituicao"
              placeholder="Nome Instituição" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
      
          <div formGroupName="cnpj" class="form-group col-md-3">
              <label for="cnpj">CNPJ</label>
              <input type="text" class="form-control" id="cnpj" formControlName="registro" placeholder="CNPJ" required>
            </div>
      
          <div class="form-group col-md-3">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control" id="telefone" formControlName="telefone" placeholder="Telefone" required>
          </div>
      
        </div>
      
        <div class="form-row">
      
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email" required>
          </div>
      
          <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha" required>
          </div>
      
        </div>
      
        <div formGroupName="endereco">
          <div class="form-row">
      
            <div class="form-group col-md-6">
              <label for="logradouro">Logradouro</label>
              <input type="text" class="form-control" id="logradouro" formControlName="logradouro"
                placeholder="Rua da Consolação ... " required>
            </div>
      
            <div class="form-group col-md-2">
              <label for="numero">Número</label>
              <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="111" required>
            </div>
      
            <div class="form-group col-md-4">
              <label for="complemento">Complemento</label>
              <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="" required>
            </div>
      
          </div>
      
          <div class="form-row">
      
            <div class="form-group col-md-6">
              <label for="cidade">Cidade</label>
              <input type="text" class="form-control" id="cidade" formControlName="cidade" placeholder="São Paulo" required>
            </div>
      
            <div class="form-group col-md-4">
              <label for="estado">Estado</label>
              <input type="text" class="form-control" id="estado" formControlName="estado" placeholder="São Paulo" required>
            </div>
      
            <div class="form-group col-md-2">
              <label for="cep">Cep</label>
              <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="01303-050" required>
            </div>
      
          </div>
      
        </div>
        <button type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
      
      </form>