<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="alimentos-disponiveis">Alimentos<span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <app-lances-alimento class="navbar-brand w-100 text-center justify-content-center"></app-lances-alimento>

    <form class="form-inline my-2 my-lg-0" [hidden]="!logado">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Sair</button>
    </form>

  </div>

</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>