<div class="topicos">
    <img src="{{empresarial}}" alt="" class="imagem-empresarial">    
    <img src="{{social}}" alt="" class="imagem-social">    
</div>

<div class="main">
    <button mat-flat-button class="option doador" routerLink="/empresa">
        <strong>{{doador}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><br>
        <img src="{{seta}}" alt="" class="imagem-seta">
    </button>

    <button mat-flat-button class="option necessitado" routerLink="/cadastrar-social">
        <strong>{{necessitado}}</strong><br>
        <img src="{{seta}}" alt="" class="imagem-seta">
    </button>
</div>
