.main {
  font-family: ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.option {
  border: none;
  border-bottom: 2px solid #35393d;
  border-radius: 0px 0px;
  width: 35%;
  height: 10%;
  padding-top: 2%;
  background-color: white;
  flex-direction: column;
}

strong {
  font-size: 1.5vw;
}

.option:hover {
  background-color: white;
  width: 35%;
  height: 10%;
}

.option:hover strong {
  opacity: 0.7;
}

.option:hover img {
  left: 10%;
  transition: 0.6s ease-out;
  opacity: 0.7;
}

.doador {
  margin-right: 18%;
}

.necessitado {
  margin-right: 8%;
}

.imagem-seta {
  width: 10%;
  height: 10%;
  opacity: 0;
  margin-left: -50%;
  transition: 0.6s;
}

.topicos {
  font-family: ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
  min-height: 50px;
}

.topicos img {
  width: 5%;
  height: 5%;
}

.imagem-empresarial {
  margin-right: 48%;
}

.imagem-social {
  margin-right: 38%;
}
