<!-- <div data-spy="scroll" data-target="#navbar-example2" data-offset="0"> -->

  <div class="card-columns">

    <div class="card text-center" style="max-width: 18rem;" *ngFor="let alimento of alimentos">

      <img class="card-img-top" [src]="alimento.caminhoImagem" alt="Imagem Alimento">

      <div class="card-body">

        <h5 class="card-title">{{alimento.nome}}</h5>

        <button type="button" class="btn btn-info" (click)="alimento.isCollapsed = !alimento.isCollapsed"
          [attr.aria-expanded]="!alimento.isCollapsed" aria-controls="collapseExample">
          <i class="fas fa-info"></i>
        </button>

        <button type="button" class="btn btn-success" (click)="adicionarAlimento(alimento)"
          [attr.aria-expanded]="!alimento.isCollapsed" aria-controls="collapseExample">
          <i class="fas fa-plus"></i>
        </button>

        <div id="collapseExample" [ngbCollapse]="alimento.isCollapsed">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">umidade : {{alimento.tabelaNutricional.umidade}}</li>
          </ul>

        </div>

      </div>
    </div>


  </div>

<!-- </div> -->


<!--       

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>



</div> -->