<button type="button" class="btn btn-outline-success btn-lg" (click)="obterInformacoesLance()">
    <i class="fas fa-box"></i> {{obterQuantidadeAlimentos()}}
</button>
<button type="button" class="btn btn-outline-primary rounded-bottom" (click)="limparLanceAlimentos()"
    [hidden]="lanceVazio">
    <i class="fas fa-eraser"></i>
</button>